@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F4F4F4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Poppins';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-color {
  background: #16ABF8;
}

@import url('bootstrap/dist/css/bootstrap.min.css');

.dropdown-toggle::after {
  display: none !important; 
}